.Free_Form {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: #666666;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica Neue Light', 'Arial', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 44px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Heading_2 {
    color: #404040;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_3 {
    padding: 10px;
}
.paragraph_style_2 {
    color: #000000;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.paragraph_style_3 {
    color: #3f3f3f;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_4 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_5 {
    color: #000000;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_4 {
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-weight: normal;
}
.style_SkipStroke_3 {
    background: #b3b3b3;
    opacity: 1.00;
}
.style_SkipStroke_4 {
    background: transparent;
    opacity: 1.00;
}
.style_External_390_278 {
    bottom: 0px;
    position: relative;
    width: 390px;
}
.style_External_270_290 {
    position: relative;
}
.style_External_341_43 {
    bottom: 0px;
    position: absolute;
    width: 341px;
}
.style_1 {
    padding: 0px;
}
.paragraph_style {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style {
    padding: 0px;
}
.style_2 {
    font-family: 'Geneva', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    line-height: 19px;
}
.paragraph_style_1 {
    color: #404040;
    font-family: 'Arial-BoldMT', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal_External_341_43 {
    bottom: 0px;
    position: absolute;
    width: 341px;
}
.Normal_External_390_24 {
    bottom: 0px;
    position: absolute;
    width: 390px;
}
.Normal_External_390_278 {
    bottom: 0px;
    position: absolute;
    width: 390px;
}
.Normal {
    padding: 0px;
}
.Playlist {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Title {
    color: #404040;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_textbox_layout_style_default_External_223_22 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_270_290 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_351_36 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: #a64b3c;
    text-decoration: none;
}
a:visited {
    color: #333333;
    text-decoration: none;
}
a.class1 {
    color: #2c2929;
    text-decoration: underline;
}
a.class1:visited {
    color: #333333;
    text-decoration: none;
}
a.class1:hover {
    color: #41403f;
}
a.class10 {
    color: #000000;
}
a.class10:visited {
    color: #333333;
    text-decoration: none;
}
a.class10:hover {
    text-decoration: none;
}
a.class11 {
    color: #000000;
}
a.class11:visited {
    color: #333333;
    text-decoration: none;
}
a.class11:hover {
    text-decoration: none;
}
a.class12 {
    color: #000000;
}
a.class12:visited {
    color: #000000;
}
a.class12:hover {
    color: #d77054;
    text-decoration: none;
}
a.class13 {
    color: #000000;
}
a.class13:visited {
    color: #333333;
    text-decoration: none;
}
a.class13:hover {
    text-decoration: none;
}
a.class2 {
    color: #363636;
    text-decoration: underline;
}
a.class2:visited {
    text-decoration: underline;
}
a.class2:hover {
    color: #363636;
}
a.class3 {
    color: #303030;
    text-decoration: underline;
}
a.class3:visited {
    color: #3b3b3b;
    text-decoration: underline;
}
a.class3:hover {
    color: #333333;
}
a.class4 {
    color: #000000;
}
a.class4:visited {
    color: #333333;
    text-decoration: none;
}
a.class4:hover {
    text-decoration: none;
}
a.class5 {
    color: #000000;
}
a.class5:visited {
    color: #333333;
    text-decoration: none;
}
a.class5:hover {
    text-decoration: none;
}
a.class6 {
    color: #080303;
}
a.class6:visited {
    color: #333333;
    text-decoration: none;
}
a.class6:hover {
    text-decoration: none;
}
a.class7 {
    color: #000000;
}
a.class7:visited {
    color: #333333;
    text-decoration: none;
}
a.class7:hover {
    text-decoration: none;
}
a.class8 {
    color: #000000;
}
a.class8:visited {
    color: #333333;
    text-decoration: none;
}
a.class8:hover {
    text-decoration: none;
}
a.class9 {
    color: #000000;
}
a.class9:visited {
    color: #333333;
    text-decoration: none;
}
a.class9:hover {
    text-decoration: none;
}
a:hover {
    color: #d67053;
    text-decoration: underline;
}
ol  { 
      padding:0;
      margin:0;
      text-indent:0;
      list-style-type:none ;
      list-style-image:none
    }
.Bullet { 
          text-decoration:none ;
          text-transform:none ;
          border: none;          
        }
#widget0 a:visited {
    color: #333333;
    text-decoration: none;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a:hover {
    color: #d67053;
    text-decoration: underline;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a {
    color: #a64b3c;
    text-decoration: none;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
